# Task : 1 Titanic Survival Prediction
**SRINATH SAHU**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
titanic_data = pd.read_csv("Titanic-Encryptix.csv")
titanic_data

In [ ]:
titanic_data.head()

In [ ]:
titanic_data.info()

In [ ]:
titanic_data.describe()

In [ ]:
titanic_data.isnull().sum()

### Age and Cabin has Null values or blank....

In [ ]:
#  we will fill blank with median value
titanic_data['Age'].fillna(titanic_data['Age'].median(), inplace=True)

In [ ]:
# Count the Embarked
titanic_data['Embarked'].value_counts()

In [ ]:
# replace blanks with mode value
titanic_data['Embarked'].fillna('S', inplace=True)

In [ ]:
# check Null value in data
titanic_data.isnull().sum()

In [ ]:
# In fare column has also null value, replace with  median
titanic_data['Fare'].fillna(titanic_data['Fare'].median(), inplace=True)

In [ ]:
# We will remove the "Cabin" column because it contains a significant number of missing values.
titanic_data.drop(columns="Cabin", inplace=True)

In [ ]:
# Last check null value and Dataset
print(titanic_data.isnull().sum())
print(titanic_data.head())

## Now Data is Cleaned...

# Exploratory Data Analysis

#### survival variable describe as

0 = No, 1 = Yes

In [ ]:
import seaborn as sns

In [ ]:
titanic_data['Survived'].value_counts()

In [ ]:
sns.countplot(data=titanic_data,x='Survived')

In [ ]:
sns.countplot(data=titanic_data,x='Pclass')

In [ ]:
sns.countplot(data=titanic_data,x='Sex')

In [ ]:
sns.histplot(data=titanic_data, x='Age')
plt.show()

## \# Show count of survival wrt pclass

In [ ]:
sns.countplot(x=titanic_data['Survived'], hue=titanic_data['Pclass'])
plt.show()

## \# Show count of survival wrt gender

In [ ]:
titanic_data['Sex'].head()

In [ ]:
sns.countplot(x=titanic_data['Survived'], hue=titanic_data['Sex'])
plt.show()

### show survival wrt Age

In [ ]:
sns.histplot(x=titanic_data['Age'], hue=titanic_data['Survived'], multiple='stack')
plt.show()

## Featuring Engineering

#### before modeling the data, transform gender\(Sex\) into numeric

- Male \- 1
- Female \- 0

**Use LabelEncoder from sklearn library**

In [ ]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
titanic_data['Sex'] = labelencoder.fit_transform(titanic_data['Sex'])

titanic_data.head()

In [ ]:
sns.countplot(x=titanic_data['Sex'],hue=titanic_data['Survived'])
plt.show()

#### Drop unneccasey column for modeling

In [ ]:
titanic_data.drop(columns=["PassengerId","Name","SibSp","Parch","Ticket","Fare","Age", "Embarked"],inplace=True)

In [ ]:
titanic_data.head()

## Modeling

In [ ]:
X=titanic_data[['Sex', 'Pclass']]
Y=titanic_data['Survived']

##### Split data into test and train by using Sklearn library

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2, random_state=0)

#### Create training Model

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,precision_score,confusion_matrix
log = LogisticRegression(random_state = 0)
log.fit(X_train, Y_train)

#### create Prediction model

In [ ]:
pred = log.predict(X_test)
pred

In [ ]:
print("Accuracy_score :", accuracy_score(Y_test, pred))
print("Matrix :",confusion_matrix(Y_test,pred))

In [ ]:
Y_test

In [ ]:
submission=X.iloc[:,:].values
y_final=log.predict(submission)

In [ ]:
y_final.shape

In [ ]:
final = pd.DataFrame()
final["Sex"]= X['Sex']
final["survived"]=y_final

In [ ]:
final.to_csv("submission.csv",index=False)

##### Trainig is completed, now check

#### predict\(\[\[ Pclass, Sex \]\]\) =&gt; survived or not survived

In [ ]:
import warnings
warnings.filterwarnings("ignore")

result = log.predict([[5,0]])
if(result == 0):
    print("So sory, Not Survived")
else:
    print("Survived")